.bg-gray{
  background-color: $graybg;
  &.partners{
    .p-img{
      padding: 10px;
      height: 100px;
      display: flex;
      width: 100%;
      margin-bottom: 20px;

      img{
        width: 100%;
        object-fit: contain;
      }
    }
  }
  &.how_works{
    .works{
      margin: 0 auto;
      display: block;
      text-align: center;
      i{
        font-size: 100px;
        margin-bottom: 20px;
        color: $darkheadertext;
      }
      .works_img{
        min-height: 120px;
        margin-top: 15px;
        img{
          width: 100%;
          height: 100px;
          margin: 20px auto;
          -o-object-fit: cover;
          object-fit: contain;
        }
      }

    }
  }
}

.content{
  padding: 60px 0;
  h2{
    margin-bottom: 40px;
  }
  .content-link{
    color: $headertext!important;
    display: block;
    font-size: 20px;
  }
  .content-about{
    margin-bottom: 20px;
    hr{
      border: 1px solid #999;
      margin: 50px 150px;
    }
    p{
      margin-top: 20px;
    }
  }
  &.content-2{
    ul{
      list-style-type: none;
      li{
        list-style-type: none;
        padding: 15px;
        border-bottom: 1px solid #594346;
        a{
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
    .giftcards{
      margin-top: 40px;
      .card{
        border: 1px solid #ccc;
        margin-bottom: 20px;
        .card-details{
          padding: 10px;
          width: 100%;
          max-height: 80px;
          min-height: 80px;
          h2{
            width: 100%;
            text-overflow: ellipsis;
            max-height: 22px;
            white-space: nowrap;
            overflow: hidden;
          }
          h3{
            color: #594346;
            width: 100%;
            text-overflow: ellipsis;
            max-height: 22px;
            white-space: nowrap;
            overflow: hidden;
          }
          .btn-border{
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }
  &.d-content{
    border: 1px solid #ddd;
    margin: 30px 0;
    padding: 30px;
    background-color: #fff;
  }
  .about{
    .list{
      display: table;
      height: 100%;
      ul{
        height: 100%;
        display: table-cell;
        vertical-align: middle;
      }
    }

    img{
      width: 70%;
      margin: 0 auto;
      display: block;
    }
  }
  .send-tab-content{
    margin-top: 50px;
  }
}
.egift{
  margin-top: 30px;
}
.cat-container{
  img{
    margin: 20px auto;
    object-fit: cover;
    height: 100%;
    max-height: 250px;
    width: auto;
  }
  .overflow{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: block;
    display: flex;
  }
}

.messenger{
  min-height: 880px;

  .col-md-4{
    img{
      width: 60%;
      margin: 0 auto;
      display: block;
    }
  }
  .col-md-6{
    img{
      width: 40%;
      margin: 0 auto;
      display: block;
    }
  }
  h1{
    margin-bottom: 20px;
  }
}
