.modal-dialog{
  margin-top: 10%;
  max-height: 460px;
  overflow: auto;
  h5{
    font-size: 15px;
  }
  h6{
    font-size: 13px;
    margin-top: 20px;
  }
  p{
    font-size: 13px;
  }
  .btn{
    font-size: 13px;
    padding: 5px 10px;
  }
}
