.navbar {
  margin-bottom: 0;
  height: 75px;
  .navbar-brand {
    font-size: 21px;
    color: $headertext;
    height: 60px;
    padding: 0;
    h1{
      margin: 0;
      padding: 10px 0;
    }
    img{
      width: 165px;
    }
  }
  .navbar-nav{
    .nav-item{
      .nav-link{
        font-weight: 400;
        margin: 10px 15px;
        padding: 10px 5px;
        color: $darkheadertext;
        &.active{ 
          border-bottom: 2px solid;
        }
      }
    }
  }
  &.bg-gray{
    background-color: $lightnav;
  }
}
