
// Body
$body-bg: #fafaff;

// Typography
$font-header: "Roboto", sans-serif;
$font-body: "Arial", sans-serif;
// $font-body: "Open Sans", sans-serif;
$font-header-weight: 500;
$font-body-weight: 400;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$lightnav: #fdfdff;
$headertext: #116DB6;
$darkheadertext: #161d8e;
// red button
$button: #f2574f;
// green button
// $button: #15d683;
// $button: #333a56;
$graytext: #CE5940;
$darkblue: #FDFCFD;
$darkgray: #594346;
$graybg: #f6f7f9;
